.imagemConta::after{
  content: "";
  background-image: url(../assets/login.jpg);
  width: 50vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
 background-size: cover;
  display: block;
}

.conteudo-login{
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media(max-width:550px){
  .conteudo-login{
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  .imagemConta::after{
    display: none;
  }
}

.conteudo-dadosCadastrais{
  padding: 2rem 2.8rem;
}