.container{
  display: grid;
}

.imagem{
  grid-area: 1 / 1;
  opacity: 0;
  display: block;
  transition: 1.5;
}

.esqueleto{
  height: 100%;
  background-image: linear-gradient(90deg, #eee 0px ,#fff 50%, #eee 100%);
  grid-area: 1 / 1;
  background-color: red;
  animation: skeleton 1.5s infinite linear;
  background-size: 200%;
}

@keyframes skeleton{
  from{
    background-position: 0px;
  }
  to{
    background-position: -200%;
  }
}