.container-modal{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0 ;
  right: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media(max-width:930px){
 .post-conteudo {
  grid-template-columns: auto !important;
 }
 .conteudo-post-main{
  width: 476px !important;
  height: fit-content;
 }

 .post-conteudo{
  overflow-y: scroll;
  height: 500px;
 }
}

.imagem-img img{
  max-width: 500px;
  border-radius: 0px;
}

.post-conteudo{
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
}

.conteudo-post-main{
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
  max-width: 100%;
  width: 250px;
}

.conteudo-dogs h1{
  margin: 1.5rem 0;
  font-size: 2.6rem !important;
}

.infos-dog{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.header-post{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.header-post span::before{
  content: url(../../assets/visualizacao-black.svg);
  margin-right: 1rem;
}

.conteudo-dogs a{

  text-decoration: none;
}

.conteudo-dogs h1{
  color:#000;
}

.header-post p{
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}

.header-post a{
  cursor: pointer;
  text-decoration: none;
}

@media(max-width:430px){
.imagem img{
  width: 300px !important;
}

}
@media(max-width:430px){
.post-conteudo{
  max-width: 400px;
}

.imagem img{
  width: 200px;
}

.conteudo-post-main{
  width: 275px !important;
}
 }